html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: initial;
}

.no-left-margin {
  margin-left: 0;
}

.no-right-margin {
  margin-right: 0;
}

.margin-bottom {
  margin-bottom: 40px;
}

.catalog__list,
.featured__content {
  display: flex;
  flex-wrap: wrap;
}

.catalog__item,
.featured__content-blocks {
  width: 360px;
  height: 581px;
  background-color: #F8F8F8;
  margin: 0 auto;
  margin-top: 30px;
}

.catalog__item-heading,
.catalog__item-description,
.catalog__item-price,
.featured__content-heading,
.featured__content-text,
.featured__content-price {
  margin-left: 18px;
}

.catalog__item-heading,
.featured__content-heading {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 24px;
  text-transform: uppercase;
}

.catalog__item-description,
.featured__content-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 13px;
  width: 315px;
}

.catalog__item-price,
.featured__content-price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (min-width: 552px) and (max-width: 1112px) {
  .container-tablet {
    width: 95.8%;
  }
}

@media (max-width: 552px) {
  .container-mobile {
    width: 95.8%;
  }
}

.header {
  background-color: #222222;
  max-width: 1600px;
  margin: 0 auto;
}
.header .header__container {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: space-between;
  width: 91.5%;
}
.header .header-logo {
  margin: 0 41px 0 0;
}
.header .header__button {
  background-color: transparent;
  border: none;
}
.header .header__button:hover, .header .header__button:focus {
  opacity: 0.8;
}
.header .header__button:active {
  opacity: 0.5;
}
.header .header__menu-list,
.header .header__logo-container {
  display: flex;
  align-items: center;
}
.header .header__menu-item:not(:last-of-type) {
  margin: 0 34px 0 0;
}
@media (max-width: 552px) {
  .header .header__menu-item:nth-child(3), .header .header__menu-item:nth-child(2) {
    display: none;
  }
  .header .header__menu-item:first-child {
    margin: 0;
  }
}
@media (min-width: 552px) and (max-width: 1112px) {
  .header .header__container {
    width: 91.5%;
  }
}
@media (max-width: 552px) {
  .header .header__container {
    width: 91.5%;
  }
}

.brand-name {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: #F1E4E6;
  position: relative;
}
.brand-name .brand-name__picture {
  width: 50%;
  background-color: #fff;
}
@media (max-width: 552px) {
  .brand-name .brand-name__picture {
    display: none;
  }
}
.brand-name .brand-name_img {
  margin: 0 auto;
  width: 100%;
  object-fit: fill;
}
@media (max-width: 552px) {
  .brand-name .brand-name_img {
    display: none;
  }
}
.brand-name .brand-name__header {
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 0 28px;
  margin-left: 7.8%;
}
.brand-name .brand-name__header::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 100%;
  background-color: #F16D7F;
  left: -12px;
}
@media (min-width: 552px) and (max-width: 1112px) {
  .brand-name .brand-name__header {
    font-size: 44px;
    line-height: 53px;
  }
}
.brand-name .brand-name__header .brand-name__header-span {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  color: #F16D7F;
}
@media (max-width: 552px) {
  .brand-name .brand-name__header .brand-name__header-span {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 552px) and (max-width: 1112px) {
  .brand-name .brand-name__header .brand-name__header-span {
    font-size: 24px;
    line-height: 28.8px;
  }
}
@media (max-width: 552px) {
  .brand-name .brand-name__header {
    font-size: 38px;
    line-height: 45px;
    font-weight: 700;
    margin-left: 7, 4%;
  }
}
.brand-name .brand-name__content {
  width: 50%;
  background-color: #F1E4E6;
}
@media (max-width: 552px) {
  .brand-name .brand-name__content {
    width: 80%;
  }
}
@media (max-width: 552px) {
  .brand-name {
    min-height: 363px;
  }
}
.brand-name .main-menu {
  box-sizing: border-box;
  background-color: #FBFBFB;
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  min-width: 150px;
  text-align: left;
  padding: 37px 0 37px 33px;
  z-index: 1;
  height: 100%;
}
.brand-name .main-menu__header {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  padding: 20px 0 12px;
  color: #F16D7F;
}
.brand-name .main-menu__header-black {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  padding: 20px 0 4px;
  color: #222222;
}
.brand-name .main-menu__submenu-link {
  text-decoration: none;
  color: #6f6e6e;
  padding-left: 1.5em;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  transition: color 0.5s, background-color 0.5s;
}
.brand-name .main-menu__submenu-link:hover {
  color: #222222;
  background-color: #F1E4E6;
}
.brand-name .main-menu__close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  outline: 0;
  background-color: transparent;
  border: 0;
}
.brand-name .main-menu__close-icon:hover {
  opacity: 0.8;
}
.brand-name .main-menu__close-icon:focus,
.brand-name .main-menu__close-icon:active path {
  fill: #222222;
}
@media (max-width: 1260px) {
  .brand-name .main-menu__submenu-item {
    display: none;
  }
}
@media (max-width: 768px) {
  .brand-name .main-menu {
    display: none;
  }
}

.offer {
  padding-top: 64px;
  text-transform: uppercase;
}
.offer .offer__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.offer .offer__list .offer__item {
  width: 31.6%;
  height: 260px;
  background-image: url(../img/offer/offer__women.jpg);
}
.offer .offer__list .offer__item .offer__item-name {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-transform: uppercase;
}
.offer .offer__list .offer__item .offer_item-category {
  color: #F16D7F;
}
.offer .offer__list .offer__item .offer_item-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 552px) {
  .offer .offer__list .offer__item {
    width: 91.46%;
    margin: 32px auto;
  }
}
.offer .offer__list .offer__item--bottom {
  width: 100%;
  height: 180px;
  margin-top: 30px;
  background-image: url(../img/offer/offer__accessories.jpg);
}
@media (max-width: 552px) {
  .offer .offer__list .offer__item--bottom {
    width: 91.46%;
    margin: 32px auto 0 auto;
  }
}
@media (max-width: 552px) {
  .offer .offer__list {
    flex-direction: column;
  }
}

.featured .featured__heading {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
  color: #222222;
  margin-top: 97px;
  text-transform: uppercase;
}
.featured .featured__text {
  color: #9F9F9F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
  margin-top: 8px;
}
.featured .featured__btn-browse {
  outline: 1px solid #F16D7F;
  width: 211px;
  height: 47px;
  margin: 48.5px auto 95.5px auto;
  color: #F16D7F;
}
.featured .featured__btn-browse:hover {
  background-color: #F16D7F;
  color: white;
}
.featured .featured__btn-browse:active {
  opacity: 0.5;
}
.featured .featured__btn-browse .featured__btn-browse-text {
  font-size: 16px;
  line-height: 19px;
  margin: 0 auto;
  width: 139px;
  padding-top: 14px;
}
.featured .featured__content-blocks {
  position: relative;
}
.featured .featured__content-blocks:hover .featured__item-img, .featured .featured__content-blocks:focus .featured__item-img {
  filter: brightness(33%);
}
.featured .featured__content-blocks:hover .featured__item-button, .featured .featured__content-blocks:focus .featured__item-img {
  display: block;
}
.featured .featured__item-button {
  display: none;
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  padding: 10px 16px 8px 13px;
  background-color: transparent;
  border: 1px solid #FFF;
}
.featured .featured__item-button:active {
  opacity: 0.5;
}
.featured .featured__item-button:hover {
  opacity: 0.8;
}
.featured .hover-text {
  margin-left: 11px;
}

.advantages {
  max-width: 1600px;
  min-height: 341px;
  background-color: #222222;
  display: flex;
  margin: 0 auto;
}
.advantages .advantages-wrap {
  display: flex;
}
@media (max-width: 552px) {
  .advantages .advantages-wrap {
    flex-direction: column;
    padding-bottom: 81px;
  }
}
@media (min-width: 552px) and (max-width: 1112px) {
  .advantages .advantages-wrap {
    flex-direction: column;
    padding-bottom: 61px;
  }
}
.advantages .advantages__block {
  width: 365px;
  height: 134px;
  text-align: center;
  margin-top: 103px;
}
.advantages .advantages__block .advantages__block-heading {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 23px;
}
.advantages .advantages__block .advantages__block-heading-big-icon {
  margin-top: 15px;
}
.advantages .advantages__block .advantages__block-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  margin-top: 16px;
}
@media (max-width: 552px) {
  .advantages .advantages__block {
    margin: 48px auto;
  }
}

.subscription {
  max-width: 1600px;
  min-height: 448px;
  background-image: url(../img/footer/footer__subcsription-img.jpg);
  background-size: cover;
  margin: 0 auto;
}
.subscription .subscription__wrapper {
  width: 100%;
  min-height: 448px;
  background: rgba(244, 244, 244, 0.7);
}
.subscription .subscription__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 552px) {
  .subscription .subscription__container {
    flex-direction: column;
  }
}
@media (min-width: 552px) and (max-width: 1112px) {
  .subscription .subscription__container {
    flex-direction: column;
  }
}
.subscription .subscription__content {
  width: 350px;
  text-align: center;
  padding-top: 97px;
}
@media (max-width: 552px) {
  .subscription .subscription__content {
    width: 91%;
    margin: 0 auto;
  }
}
@media (min-width: 552px) and (max-width: 1112px) {
  .subscription .subscription__content {
    width: 91%;
    margin: 0 auto;
  }
}
.subscription .subscription__text {
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  padding-top: 30px;
}
@media (min-width: 552px) and (max-width: 1112px) {
  .subscription .subscription__text {
    width: 360px;
    margin: 0 auto;
  }
}
.subscription .subscription__input {
  width: 557px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 155px;
}
.subscription .subscription__input .subscription__input-heading {
  font-size: 24px;
  line-height: 29px;
  color: #222224;
}
.subscription .subscription__input .subscription__input-text {
  font-size: 18px;
  line-height: 21px;
  color: #222224;
  padding-bottom: 33px;
}
.subscription .subscription__input .subscribe__input-field {
  display: flex;
  width: 356px;
  height: 49px;
  border-radius: 50px;
  margin: 0 auto;
}
.subscription .subscription__input .subscription--input {
  height: 100%;
  width: 71.8%;
  background: #E1E1E1;
  border: none;
  border-radius: 50px 0 0 50px;
  padding: 0%;
  font-size: 14px;
  line-height: 17px;
}
.subscription .subscription__input .subscription--input::placeholder {
  padding-left: 22px;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}
.subscription .subscription__input .subscription__input--button {
  width: 28.2%;
  background: #F16D7F;
  height: 100%;
  border: none;
  color: #fff;
  border-radius: 0 50px 50px 0;
}
@media (max-width: 552px) {
  .subscription .subscription__input {
    width: 91%;
    margin: 0 auto 110px auto;
  }
}
@media (min-width: 552px) and (max-width: 1112px) {
  .subscription .subscription__input {
    width: 91%;
    margin: 0 auto 140px auto;
  }
}
.subscription .button-text {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.social-links {
  max-width: 1600px;
  min-height: 79px;
  background-color: #222222;
  color: #FBFBFB;
  font-size: 16px;
  line-height: 19px;
  margin: 0 auto;
}
.social-links .social-links__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 0;
}
@media (max-width: 552px) {
  .social-links .social-links__content {
    flex-direction: column-reverse;
  }
}
.social-links .social-links__icons {
  width: 185px;
}
.social-links .social-links__wrapper {
  display: inline-block;
  background-color: #FBFBFB;
  text-align: center;
  margin: 0 4px;
  padding: 0 8px 8px 8px;
}
.social-links .social-links_wrapper-img {
  vertical-align: -webkit-baseline-middle;
}
@media (max-width: 552px) {
  .social-links {
    flex-direction: column-reverse;
  }
}

.copyright {
  width: 332px;
}
@media (max-width: 552px) {
  .copyright {
    margin: 40px auto 9px auto;
    text-align: center;
  }
}

.breadcrumb {
  max-width: 1600px;
  height: 148px;
  background-color: #F1E4E6;
  margin: 0 auto;
}
.breadcrumb .breadcrumb__bg-layer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0 60px 0;
}
@media (min-width: 552px) and (max-width: 1112px) {
  .breadcrumb .breadcrumb__bg-layer {
    width: 91.6%;
  }
}
@media (max-width: 552px) {
  .breadcrumb .breadcrumb__bg-layer {
    flex-direction: column;
    justify-content: space-around;
    width: 91.6%;
  }
}
.breadcrumb .breadcrumb__text {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}
.breadcrumb .breadcrumb__nav-list {
  display: flex;
}
.breadcrumb .breadcrumb__nav-item {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding-right: 5px;
}
.breadcrumb .breadcrumb__nav-link {
  text-decoration: none;
  color: #636363;
  padding-left: 5px;
}
.breadcrumb .breadcrumb__nav--active {
  font-weight: 700;
  color: #F16D7F;
}

.catalog {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
}
.catalog .catalog__item-link {
  text-decoration: none;
}
.catalog .catalog__item-description {
  text-transform: none;
}
.catalog .catalog__pagination {
  width: 284px;
  height: 44px;
  border: 1px solid #EBEBEB;
  margin: 49px auto 96px auto;
}
.catalog .catalog__pagination .catalog__pagination-list {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px 12px 16px;
}
.catalog .catalog__pagination .catalog__pagination-number {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.catalog .catalog__pagination .catalog__pagination-link {
  text-decoration: none;
  color: #EBEBEB;
}
.catalog .catalog__pagination .catalog__pagination-link:hover {
  color: #6f6e6e;
}
.catalog .catalog__pagination .catalog__pagination-link--active {
  color: #EF5B70;
}
.catalog .catalog__filters,
.catalog .catalog__filter-link,
.catalog .catalog__sort-list {
  display: flex;
}
.catalog .catalog__filters {
  margin-top: 51px;
  margin-bottom: 44px;
}
.catalog .catalog__filters .catalog__filter-text {
  color: #000;
}
@media (max-width: 552px) {
  .catalog .catalog__filters .catalog__filter-text {
    display: none;
  }
}
.catalog .catalog__filters .catalog__filter-button {
  margin-left: 11px;
}
@media (min-width: 552px) and (max-width: 1112px) {
  .catalog .catalog__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 552px) {
  .catalog .catalog__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.catalog .catalog__sort {
  margin-left: 31.5%;
}
.catalog .catalog__sort .catalog__sort-link {
  color: #6F6E6E;
  margin-right: 28px;
}
.catalog .catalog__sort .catalog__sort-arrow {
  margin-left: 10px;
}
@media (max-width: 552px) {
  .catalog .catalog__sort {
    margin-left: 0;
  }
}
@media (min-width: 552px) and (max-width: 1112px) {
  .catalog .catalog__sort {
    margin-left: 0;
  }
}
@media (min-width: 552px) and (max-width: 1112px) {
  .catalog .catalog__item:last-child {
    display: none;
  }
}

.registration {
  display: flex;
  padding-top: 64px;
  padding-bottom: 96px;
}
@media (max-width: 552px) {
  .registration .registration__form {
    margin: 0 auto;
  }
}
.registration input[type=text],
.registration input[type=email],
.registration input[type=password] {
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  display: block;
}
.registration input[type=radio] {
  display: none;
}
.registration .registration__fieldset-login {
  margin-top: 34px;
  width: 360px;
}
.registration .registration__login-legend,
.registration .registration__name-legend {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}
.registration .registration__password-comment {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}
.registration .registration__loyalty-header {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}
.registration .registration__loyalty-description {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 21px;
}
.registration .registration__loyalty-item {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
}
.registration .loyalty-checkbox {
  margin-right: 23px;
}
.registration .registration__gender {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  position: relative;
  padding-right: 15px;
  padding-left: 25px;
}
.registration .registration__gender::before {
  position: absolute;
  top: -2px;
  left: -1px;
  content: "";
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
}
input[type=radio]:checked + .registration .registration__gender::before {
  background: #F16D7F;
}
.registration .registration__loyalty {
  margin-left: 11.2%;
}
@media (min-width: 552px) and (max-width: 1112px) {
  .registration .registration__loyalty {
    margin-left: 2.8%;
  }
}
@media (max-width: 552px) {
  .registration .registration__loyalty {
    margin: 40px auto 100px;
  }
}
.registration .registration__fieldset-name:first-child,
.registration .registration__fieldset-login:first-child {
  margin-bottom: 20px;
}
.registration .registration__input {
  margin-bottom: 20px;
}
.registration .registration__input::placeholder, .registration .registration__input::placeholder {
  padding-left: 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}
.registration .registration__input .registration__input-login {
  margin-bottom: 20px;
}
.registration .registration__button {
  padding: 16px 29px 17px 26px;
  background-color: #F16D7F;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #F16D7F;
  margin-top: 39px;
}
.registration .registration__button .registration__button-svg {
  margin-left: 20px;
  padding-top: 4px;
}
.registration .registration__button:hover {
  background-color: #fff;
  color: #F16D7F;
}
@media (max-width: 552px) {
  .registration {
    flex-direction: column;
  }
}

.shopping-cart {
  margin-bottom: 128px;
  display: flex;
}
@media (min-width: 552px) and (max-width: 1112px) {
  .shopping-cart {
    flex-direction: column;
    width: 97.6%;
    margin: 0 auto;
  }
}
@media (max-width: 552px) {
  .shopping-cart {
    flex-direction: column;
    width: 97.6%;
    margin: 0 auto;
  }
}
.shopping-cart .shopping-cart__items {
  margin-top: 96px;
  width: 652px;
}
@media (min-width: 552px) and (max-width: 1112px) {
  .shopping-cart .shopping-cart__items {
    width: 100%;
  }
}
@media (max-width: 552px) {
  .shopping-cart .shopping-cart__items {
    width: 100%;
  }
}
.shopping-cart .shopping-cart__items .shopping-cart__img {
  height: 306px;
}
@media (max-width: 552px) {
  .shopping-cart .shopping-cart__items .shopping-cart__img {
    width: 144px;
    height: 188px;
  }
}
.shopping-cart .shopping-cart__items .shopping-cart__items-content {
  margin-left: 31px;
  margin-top: 22px;
  position: relative;
}
.shopping-cart .shopping-cart__items .shopping-cart__items-heading,
.shopping-cart .shopping-cart__items .shopping-cart__items-price,
.shopping-cart .shopping-cart__items .shopping-cart__items-color,
.shopping-cart .shopping-cart__items .shopping-cart__items-size,
.shopping-cart .shopping-cart__items .shopping-cart__items-quantity {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  font-weight: 400;
}
@media (max-width: 552px) {
  .shopping-cart .shopping-cart__items .shopping-cart__items-heading,
.shopping-cart .shopping-cart__items .shopping-cart__items-price,
.shopping-cart .shopping-cart__items .shopping-cart__items-color,
.shopping-cart .shopping-cart__items .shopping-cart__items-size,
.shopping-cart .shopping-cart__items .shopping-cart__items-quantity {
    font-size: 14px;
    line-height: 17px;
  }
}
.shopping-cart .shopping-cart__items .shopping-cart__items-price,
.shopping-cart .shopping-cart__items .shopping-cart__items-color,
.shopping-cart .shopping-cart__items .shopping-cart__items-size,
.shopping-cart .shopping-cart__items .shopping-cart__items-quantity {
  margin-top: 6px;
}
.shopping-cart .shopping-cart__items .shopping-cart__items-heading {
  text-transform: uppercase;
  margin-bottom: 42px;
}
@media (max-width: 552px) {
  .shopping-cart .shopping-cart__items .shopping-cart__items-heading {
    margin-bottom: 13.5px;
  }
}
.shopping-cart .shopping-cart__items .shopping-cart__items-cross {
  position: absolute;
  top: 0;
  left: 319px;
}
@media (max-width: 552px) {
  .shopping-cart .shopping-cart__items .shopping-cart__items-cross {
    display: none;
  }
}
.shopping-cart .shopping-cart__items .shopping-cart__items-card {
  width: 652px;
  height: 306px;
  box-shadow: 7px 7px 15px 5px #EAEAEA;
  display: flex;
}
@media (max-width: 552px) {
  .shopping-cart .shopping-cart__items .shopping-cart__items-card {
    width: 358px;
    height: 188px;
    margin: 0 auto 40px auto;
  }
}
@media (min-width: 552px) and (max-width: 1112px) {
  .shopping-cart .shopping-cart__items .shopping-cart__items-card {
    margin: 0 auto 40px auto;
  }
}
.shopping-cart .shopping-cart__items .shopping-cart__items-buttons {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
}
.shopping-cart .shopping-cart__left-button,
.shopping-cart .shopping-cart__right-button {
  padding: 16px 40px 16px 40px;
  background-color: #fff;
  color: #000;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #A4A4A4;
  text-transform: uppercase;
}
.shopping-cart .shopping-cart__left-button:hover,
.shopping-cart .shopping-cart__right-button:hover {
  background-color: #F16D7F;
  color: #fff;
  border: 1px solid #F16D7F;
}
.shopping-cart .shopping-cart__address {
  margin-top: 113px;
  margin-left: 120px;
}
@media (min-width: 552px) and (max-width: 1112px) {
  .shopping-cart .shopping-cart__address {
    margin-top: 64px;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 128px;
  }
}
@media (max-width: 552px) {
  .shopping-cart .shopping-cart__address {
    margin-top: 64px;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 128px;
    flex-direction: column;
  }
}
.shopping-cart .shopping-cart__address input[type=text] {
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  display: block;
}
.shopping-cart .shopping-cart__address .shopping-cart__address-legend {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.shopping-cart .shopping-cart__address .shopping-cart__address-btn {
  padding: 12px 14px 12px 14px;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  background-color: #fff;
  color: #A4A4A4;
}
.shopping-cart .shopping-cart__address .shopping-cart__address-city,
.shopping-cart .shopping-cart__address .shopping-cart__state,
.shopping-cart .shopping-cart__address .shopping-cart__zip {
  margin-bottom: 20px;
  padding-left: 17px;
}
.shopping-cart .shopping-cart__address .shopping-cart__address-proceed {
  width: 378px;
  height: 214px;
  background: #F5F3F3;
  margin-top: 57.5px;
  text-transform: uppercase;
  color: #4A4A4A;
}
@media (min-width: 552px) and (max-width: 1112px) {
  .shopping-cart .shopping-cart__address .shopping-cart__address-proceed {
    margin-top: 0;
  }
}
.shopping-cart .shopping-cart__address .shopping-cart__address-proceed .shopping-cart__subtotal {
  font-size: 11px;
  line-height: 13px;
  padding-top: 40px;
  text-align: right;
  padding-right: 52.5px;
  padding-bottom: 12px;
}
.shopping-cart .shopping-cart__address .shopping-cart__address-proceed .shopping-cart__grand-total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  padding-right: 52.5px;
}
.shopping-cart .shopping-cart__address .shopping-cart__address-proceed .shopping-cart__checkout {
  padding: 16px 42px 16px 42px;
  width: 190px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #F16D7F;
  margin: 41px 52.5px;
  border: 1px solid #F16D7F;
}
.shopping-cart .shopping-cart__address .shopping-cart__address-proceed .shopping-cart__checkout .shopping-cart__checkout:hover {
  color: #F16D7F;
  background-color: #fff;
}

.carousel {
  min-height: 777px;
  background-color: #F8F8F8;
  z-index: -1;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 129px auto;
}

.card {
  border: none;
  background-color: #F8F8F8;
}
@media (min-width: 552px) and (max-width: 1112px) {
  .card:last-child {
    display: none;
  }
}
@media (max-width: 552px) {
  .card:last-child {
    display: none;
  }
}
@media (min-width: 552px) and (max-width: 1112px) {
  .card {
    width: 46.9%;
  }
}

.product {
  margin-top: -50px;
}

.product-card {
  min-height: 601px;
  z-index: 1;
  padding: 64.5px 0 0 0;
  border: 1px solid #F8F8F8;
  background-color: #fff;
}

.product-info {
  padding: 65px 0;
  margin-top: -60px;
  position: relative;
  background-color: #FFF;
  border: 1px solid #A4A4A4;
}

.product-info__category {
  color: #F16D7F;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  position: relative;
}

.product-info__category::after {
  content: "";
  width: 63px;
  height: 3px;
  background-color: #F16D7F;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.product-info__title {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
}

.product-info__text {
  max-width: 555px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: #6f6e6e;
}

.product-info__price {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #F16D7F;
}

.product-info__content {
  padding-bottom: 65px;
}

.product-info__content::after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: #A4A4A4;
  position: relative;
  top: 65px;
}

.product-info__button {
  outline: none;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 0 14px;
  color: #6f6e6e;
}

.product-info__button svg {
  padding-left: 0.5em;
}

.product-info__button:hover {
  color: #222222;
}

.product-info__button:hover svg {
  fill: #222222;
}

.product-info__button::after {
  border-top: none;
}

.product-info__add-to-cart {
  padding: 10px 38px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
}

.product-info__add-to-cart:hover {
  color: white;
  background-color: #F16D7F;
}

.product-info__add-to-cart:hover svg {
  fill: #FBFBFB;
}

.product-info__add-to-cart:active,
.product-info__add-to-cart:focus {
  outline: 0;
  background-color: #ed3e56;
  color: white;
}

.product-info__add-to-cart:focus svg {
  fill: #FBFBFB;
}/*# sourceMappingURL=style.css.map */