html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: initial;
}

.no-left-margin {
    margin-left: 0;
}

.no-right-margin {
    margin-right: 0;
}

.margin-bottom {
    margin-bottom: 40px;
}

.catalog__list,
.featured__content {
    display: flex;
    flex-wrap: wrap;
}

.catalog__item,
.featured__content-blocks {
    width: 360px;
    height: 581px;
    background-color: #F8F8F8;
    margin: 0 auto;
    margin-top: 30px;
}

.catalog__item-heading,
.catalog__item-description,
.catalog__item-price,
.featured__content-heading,
.featured__content-text,
.featured__content-price {
    margin-left: 18px;
}

.catalog__item-heading,
.featured__content-heading {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 24px;
    text-transform: uppercase;
}

.catalog__item-description,
.featured__content-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 13px;
    width: 315px;
}

.catalog__item-price,
.featured__content-price {
    font-size: 16px;
    line-height: 19px;
    color: var(--pink-color);
    margin-top: 18px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}