    $black-color: #222222;
    $pink-color: #F16D7F;
    $pink-background: #F1E4E6;
    $base-black: #222222;
    $base-white: #FBFBFB;
    $base-gray: rgba(111, 110, 110, 1);
    $light-gray: #A4A4A4;
    $super-light-gray: #F8F8F8;