.brand-name {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;

    .brand-name__picture {
        width: 50%;
    }

    .brand-name_img {
        margin: 0 auto;
    }

    .brand-name__header {
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 58px;
        text-transform: uppercase;
        position: relative;
        padding: 0 0 0 28px;

        &::before {
            position: absolute;
            content: '';
            width: 12px;
            height: 100%;
            background-color: $pink-color;
            left: -12px;
        }

        .brand-name__header-span {
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 38px;
            color: $pink-color;
        }
    }

    .brand-name__content {
        width: 50%;
        padding: 335px 0 0 64px;
        background-color: $pink-background;
    }
}