.brand-name {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: $pink-background;
    position: relative;

    .brand-name__picture {
        width: 50%;
        background-color: #fff;
        
        @include mobile {
            display: none;
        }
    }

    .brand-name_img {
        margin: 0 auto;
        width: 100%;
        object-fit: fill;

        @include mobile {
            display: none;
        }
    }

    .brand-name__header {
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 58px;
        text-transform: uppercase;
        position: relative;
        padding: 0 0 0 28px;
        margin-left: 7.8%;

        &::before {
            position: absolute;
            content: '';
            width: 12px;
            height: 100%;
            background-color: $pink-color;
            left: -12px;
        }

        @include tablet {
            font-size: 44px;
            line-height: 53px
        }

        .brand-name__header-span {
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 38px;
            color: $pink-color;

            @include mobile {
                font-size: 20px;
                line-height: 24px;
            }

            @include tablet {
                font-size: 24px;
                line-height: 28.8px;
            }
        }

        @include mobile {
            font-size: 38px;
            line-height: 45px;
            font-weight: 700;
            margin-left: 7,4%;
        }
    }

    .brand-name__content {
        width: 50%;
        background-color: $pink-background;

        @include mobile {
            width: 80%;
        }
    }

    @include mobile {
        min-height: 363px;
    }

    .main-menu {
        box-sizing: border-box;
        background-color: $base-white;
        position: absolute;
        top: 0;
        right: 0;
        width: 15%;
        min-width: 150px;
        text-align: left;
        padding: 37px 0 37px 33px;
        z-index: 1;
        height: 100%;
    }
    
    .main-menu__header {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-transform: uppercase;
        padding: 20px 0 12px;
        color: $pink-color;
    }
    
    .main-menu__header-black {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        text-transform: uppercase;
        padding: 20px 0 4px;
        color: $base-black;
    }
    
    .main-menu__submenu-link {
        text-decoration: none;
        color: $base-gray;
        padding-left: 1.5em;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        transition: color 0.5s,  background-color 0.5s;
    }
    
    .main-menu__submenu-link:hover {
        color: $base-black;
        background-color: $pink-background;
        
    }
    
    .main-menu__close-icon {
        position: absolute;
        top: 16px;
        right: 16px;
        outline: 0;
        background-color: transparent;
        border: 0;
    }
    
    .main-menu__close-icon:hover {
        opacity: 0.8;
    }
    
    .main-menu__close-icon:focus,
    .main-menu__close-icon:active path {
        fill: $base-black;
    }
    
    @media (max-width: 1260px) {
        .main-menu__submenu-item {
            display: none;
        }
    }
    
    @media (max-width: 768px) {
        .main-menu {
            display: none;
        }
    }
}