.breadcrumb {
    max-width: 1600px;
    height: 148px;
    background-color: $pink-background;
    margin: 0 auto;
    
    .breadcrumb__bg-layer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px 0 60px 0;

        @include tablet {
            width: 91.6%;
        }

        @include mobile {
            flex-direction: column;
            justify-content: space-around;
            width: 91.6%;
        }   
    }

    .breadcrumb__text {
        font-size: 24px;
        line-height: 29px;
        color: $pink-color;
        text-transform: uppercase;
    }

    .breadcrumb__nav-list {
        display: flex;
    }

    .breadcrumb__nav-item {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        padding-right: 5px;
    }

    .breadcrumb__nav-link {
        text-decoration: none;
        color: #636363;
        padding-left: 5px;
    }

    .breadcrumb__nav--active {
        font-weight: 700;
        color: $pink-color;
    }
}
