.subscription {
    max-width: 1600px;
    min-height: 448px;
    background-image: url(../img/footer/footer__subcsription-img.jpg);
    background-size: cover;
    margin: 0 auto;

    .subscription__wrapper {
        width: 100%;
        min-height: 448px;
        background: rgba(244, 244, 244, 0.7);
    }
    
    .subscription__container {
        display: flex;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
        }
    }
    
    .subscription__content {
        width: 350px;
        text-align: center;
        padding-top: 97px;

        @include mobile {
            width: 91%;
            margin: 0 auto;
        }
    }
    
    .subscription__text {
        font-size: 20px;
        line-height: 24px;
        color: #222224;
        padding-top: 30px;
    }
    
    .subscription__input {
        width: 557px;
        text-align: center;
        text-transform: uppercase;
        padding-top: 155px;

        .subscription__input-heading {
            font-size: 24px;
            line-height: 29px;
            color: #222224;
        }
        
        .subscription__input-text {
            font-size: 18px;
            line-height: 21px;
            color: #222224;
            padding-bottom: 33px;
        }

        .subscribe__input-field {
            display: flex;
            width: 356px;
            height: 49px;
            border-radius: 50px;
            margin: 0 auto;
        }
        
        .subscription--input {
            height: 100%;
            width: 71.8%;
            background: #E1E1E1;
            border: none;
            border-radius: 50px 0 0 50px;
            padding: 0%;
            font-size: 14px;
            line-height: 17px;
        }

        .subscription--input::placeholder {
            padding-left: 22px;
            font-size: 14px;
            line-height: 17px;
            color: #222224;
            opacity: 0.67;
        }
        
        .subscription__input--button {
            width: 28.2%;
            background: $pink-color;
            height: 100%;
            border: none;
            color: #fff;
            border-radius: 0 50px 50px 0;
        }

        @include mobile {
            width: 91%;
            margin: 0 auto;
        }
    }
    
    .button-text {
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }
}

.social-links {
    max-width: 1600px;
    min-height: 79px;
    background-color: $black-color;
    color: #FBFBFB;
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .social-links__icons {
        width: 185px;
    }
    
    .social-links__wrapper {
        width: 32px;
        height: 32px;
        background-color: #fff;
        margin: 24px 7px;
        float: left;
    }
    
    .social-links__icon-wrap {
        margin: 0 auto;
        width: 14px;
    }
    
    .social-links_wrapper-img {
        vertical-align: -webkit-baseline-middle;
    }
    
    .instagram-wrap {
        background-color: $pink-color;
    }

    @include mobile {
        flex-direction: column-reverse;
    }
}

.copyright {
    padding-top: 30px;
    width: 332px;
}